@charset "UTF-8";
*{ margin: 0; padding: 0; border: 0; font-size: 100%; }

body {
	font-family: 'Oswald', sans-serif;

}

#titles h1 {
	font-size: 40px;
	margin-bottom: 10px;
	color: black;
	position: relative;
	top: 5px;
	text-align: center;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
		
}

#titles h2 {
	font-size: 20px;
	margin-top: 10px; 
	color: black;
	position: relative;
	bottom: 5px;
	margin-bottom: 10px;
	text-align: center;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	
}

#titles {
      background-image: url("../images/a3758570025_16.jpg");
	
}


.chris {
	float: left;
	margin: 15px;

}

.text {
	margin-left: 40px;
	margin-right: 40px;
	
}

.text h2 { 
	margin-bottom: 1px;
	margin-right: 200px;
	font-family: 'Squada One', cursive;
	font-size: 45px;

}

.contactbtn {
	float: right;
	margin-top: 50px;
}

.contactbtn a {
  margin-right: 40px;
  padding: 6px 10px;
  border: 8px double;
  background-color: rgba(198,198,198,1.00);
	color: white;
	
}

.contactbtn a:active {
	position: relative;
	top: 2px;
	
}

.container h2 {
	font-size: 20px

}

.container {
	text-align: center;
	background-color: rgba(198,198,198,1.00);
	color: white;
	width: 500px;
  	border: 10px double;
  	padding: 5px;
	margin-top: 40px;
	margin-left: 50px;
	
}
	
